<form [formGroup]="payment_form" (ngSubmit)="onSubmit()">
  <div class="button">
    <button type="text" [routerLink]="['../personal-info']">Retour aux informations personelles</button>
  </div>
  <div>
    <label for="cardnum">Numero de carte :</label>
    <input type="text" id="cardnum" formControlName="numero_carte" />
  </div>
  <div>
    <label for="expdate">Date d'expiration</label>
    <input type="month" id="expdate" formControlName="exp_date" />
    <label for="cvv">CVV</label>
    <input type="text" id="cvv" formControlName="cvv" />
  </div>
  <div class="button">
    <button type="submit">Valider les informations de paiement</button>
  </div>
</form>
