<div class="card mb-4">
  <div class="card-body">
    <div *ngFor="let item of items$ | async" class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div *ngIf="item.product.images && item.product.images.length > 0">
              <img [src]="item.product.images[0].url" alt="exemple d'image" />
            </div>
          </div>
          <div class="col-6 col-md-7">
            <a [routerLink]="['/shop/product/', item.id]">
              <h5>{{ item.product.name }}</h5>
            </a>
            <div class="text-success" *ngIf="item?.stock > 0">en stock : {{ item?.stock }}</div>
            <ul class="nav">
              <div>
                <button class="minus_button" [disabled]="item.quantity === 1" (click)="decreseQuantity(item)">-</button>
                {{ item.quantity }}
                <button class="plus_button" [disabled]="item.quantity >= item.stock" (click)="increseQuantity(item)">+</button>
              </div>
              <div class="nav-item ms-4">
                <button class="btn btn-link" aria-current="delete-button" (click)="deleteItem(item)">Supprimer</button>
              </div>
            </ul>
          </div>
          <div class="col-3 col-md-2">
            <p class="h5 text-end text-nowrap">Prix unitaire : {{ item.price | currency: 'symbol':'' }} &euro;</p>
          </div>
          <div class="col-3 col-md-2">
            <p class="h5 text-end text-nowrap" style="color: brown">Expire le : {{ item.limitDate | date: 'dd:MM:yyyy HH:mm:ss' }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(items$ | async)?.length === 0">Vorte panier est vide</div>
  </div>
</div>
