<p-dataView [value]="salesPosts">
  <ng-template pTemplate="header">
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </ng-template>
  <ng-template let-salesPost pTemplate="listItem">
    <div class="col-12">
      <div class="salesPost-list-item">
        <div class="salesPost-list-detail">
          <div class="salesPost-product-name">{{ salesPost.product.name }}</div>
          <div class="salesPost-product-description">{{ salesPost.product.description }}</div>
          <i class="pi pi-tag salesPost-product-category-icon"></i
          ><span class="salesPost-product-category">{{ salesPost.product.categories }}</span>
        </div>
        <div class="salesPost-list-action">
          <span class="salesPost-price">${{ salesPost.price }}</span>
          <p-button icon="pi pi-shopping-cart" label="Ajouter au panier" [disabled]="salesPost.stock === 0"></p-button>
          <span>INVENTAIRE STATUT</span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-salesPost pTemplate="gridItem">
    <div class="col-12 md:col-4">
      <div class="salesPost-grid-item card">
        <div class="salesPost-grid-item-top">
          <div>
            <i class="pi pi-tag salesPost-product-category-icon"></i>
            <span class="salesPost-product-category">{{ salesPost.product.categories }}</span>
          </div>
          <span>INVENTAIRE STATUT</span>
        </div>
        <div class="salesPost-grid-item-content">
          <div class="salesPost-product-name">{{ salesPost.product.name }}</div>
          <div class="salesPost-product-description">{{ salesPost.product.description }}</div>
        </div>
        <div class="salesPost-grid-item-bottom">
          <span class="salesPost-product-price">${{ salesPost.product.price }}</span>
          <p-button icon="pi pi-shopping-cart" [disabled]="salesPost.stock === 0"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
