<p-dataView [value]="salesPosts">
  <ng-template pTemplate="header">
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </ng-template>
  <ng-template let-salesPost pTemplate="listItem">
    <div class="col-12">
      <div class="salesPost-list-item">
        <div *ngIf="salesPost.product.images && salesPost.product.images.length > 0">
          <img [src]="salesPost.product.images[0].url" [alt]="salesPost.product.name" />
        </div>
        <div class="salesPost-list-detail">
          <div class="salesPost-product-name">{{ salesPost.product.name }}</div>
          <div class="salesPost-product-description">{{ salesPost.product.description }}</div>
          <em class="pi pi-tag salesPost-product-category-icon"></em>
          <span *ngIf="salesPost.product.categories">
            <span class="salesPost-product-category" *ngFor="let category of salesPost.product.categories; last as isLast">
              {{ category.name }}<span *ngIf="!isLast">, </span>
            </span>
          </span>
        </div>
        <div class="salesPost-list-action">
          <span class="salesPost-price">${{ salesPost.price }}</span>
          <p-button icon="pi pi-shopping-cart" label="Ajouter au panier" [disabled]="salesPost.stock === 0"></p-button>
          <span *ngIf="salesPost.stock === 0" class="salesPost-badge status-outofstock"> RUPTURE DE STOCK </span>
          <span *ngIf="salesPost.stock > 0 && salesPost.stock < 100" class="salesPost-badge status-lowstock"> STOCK FAIBLE </span>
          <span *ngIf="salesPost.stock >= 100" class="salesPost-badge status-instock"> EN STOCK </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-salesPost pTemplate="gridItem">
    <div class="col-12 md:col-4">
      <div class="salesPost-grid-item card">
        <div class="salesPost-grid-item-top">
          <div>
            <em class="pi pi-tag salesPost-product-category-icon"></em>
            <span *ngIf="salesPost.product.categories">
              <span class="salesPost-product-category" *ngFor="let category of salesPost.product.categories; last as isLast">
                {{ category.name }}<span *ngIf="!isLast">, </span>
              </span>
            </span>
          </div>
          <span *ngIf="salesPost.stock === 0" class="salesPost-badge status-outofstock"> RUPTURE DE STOCK </span>
          <span *ngIf="salesPost.stock > 0 && salesPost.stock < 100" class="salesPost-badge status-lowstock"> STOCK FAIBLE </span>
          <span *ngIf="salesPost.stock >= 100" class="salesPost-badge status-instock"> EN STOCK </span>
        </div>
        <div class="salesPost-grid-item-content">
          <div *ngIf="salesPost.product.images && salesPost.product.images.length > 0">
            <img [src]="salesPost.product.images[0].url" [alt]="salesPost.product.name" />
          </div>
          <div class="salesPost-product-name">{{ salesPost.product.name }}</div>
          <div class="salesPost-product-description">{{ salesPost.product.description }}</div>
        </div>
        <div class="salesPost-grid-item-bottom">
          <span class="salesPost-product-price">${{ salesPost.price }}</span>
          <p-button icon="pi pi-shopping-cart" [disabled]="salesPost.stock === 0"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
