<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{ user?.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>First Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ user?.firstName }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>First Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ user?.firstName }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Last Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ user?.lastName }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{ user?.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Adresse</label>
              </div>
              <div class="col-md-6">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Telephone</label>
              </div>
              <div class="col-md-6">
                <p></p>
              </div>
            </div>
            <!-- <div class="col-md-2">
                                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                            </div> -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
