<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  <div *ngFor="let prod of products; index as i; first as isFirst" class="col mb-5" [routerLink]="['/shop/product/' + prod.id]">
    <div class="card h-100">
      <!-- Sale badge-->
      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
      <!-- Product image-->
      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">{{ prod.sells?.name }}</h5>
          <!-- Product reviews-->

          <!-- Product price-->

          ${{ prod.price }}
        </div>
      </div>
    </div>
  </div>
</div>
