<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  <div *ngFor="let prod of products; index as i; first as isFirst" class="col mb-5" [routerLink]="['/shop/product/' + prod.id]">
    <div class="card h-100 round-card">
      <!-- Sale badge-->
      <div class="badge text-bg-warning position-absolute rotate-top-left">
        reste
        {{ prod.stock }}
        articles
      </div>
      <div class="badge text-bg-danger position-absolute rotate-top-right">
        <span class="fs-6">
          Expire
          {{ prod.limitDate?.fromNow() }}
        </span>
      </div>

      <!-- Product image-->
      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">{{ prod.product?.name }}</h5>

          <!-- Product reviews-->

          <!-- Product price-->

          <p class="fw-bold">${{ prod.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
