<form [formGroup]="personal_info_form" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Nom :</label>
    <input type="text" id="name" formControlName="nom" />
    <label for="prenom">Prenom :</label>
    <input type="text" id="surname" formControlName="prenom" />
  </div>
  <div>
    <label for="mail">E-mail&nbsp;:</label>
    <input type="email" id="mail" formControlName="email" />
  </div>
  <!--Pour les pays, regions, et departements dropbox de choix-->
  <div>
    <label for="pays">Pays :</label>
    <select #payslist id="pays" formControlName="pays" value="test" (change)="updatePays(payslist.value)">
      <option value="none">-</option>
      <option value="belgique">Belgique</option>
      <option value="france">France</option>
      <option value="suisse">Suisse</option>
    </select>
    <span [ngSwitch]="[personal_info_form.controls['pays'].value]">
      <label for="region" *ngSwitchCase="'france'">Region: </label>
      <input list="regions_france" id="regions" formControlName="region" *ngSwitchCase="'france'" />
      <datalist id="regions_france">
        <option value="Auvergne-Rhône-Alpes"></option>
        <option value="Bourgogne-Franche-Comté"></option>
        <option value="Bretagne"></option>
        <option value="Centre-Val de Loire"></option>
        <option value="Corse"></option>
        <option value="Grand Est"></option>
        <option value="Hauts-de-France"></option>
        <option value="Ile-de-France"></option>
        <option value="Normandie"></option>
        <option value="Nouvelle-Aquitaine"></option>
        <option value="Occitanie"></option>
        <option value="Pays de la Loire"></option>
        <option value="Provence-Alpes-Côte d'Azur"></option>
      </datalist>

      <label for="departement" *ngSwitchCase="'france'">Departement :</label>
      <input list="departements_ARA" id="dept" formControlName="departement" *ngSwitchCase="'france'" />
      <datalist id="departements_ARA">
        <option value="Ain"></option>
        <option value="Allier"></option>
        <option value="Ardèche"></option>
        <option value="Cantal"></option>
        <option value="Drôme"></option>
        <option value="Isère"></option>
        <option value="Loire"></option>
        <option value="Haute-Loire"></option>
        <option value="Puy-de-Dôme"></option>
        <option value="Rhône"></option>
        <option value="Savoie"></option>
        <option value="Haute-Savoie"></option>
      </datalist>
      <label for="region" *ngSwitchCase="'belgique'"></label>
      <label for="region" *ngSwitchCase="'suisse'"></label>
    </span>
    <!-- ajouter if avec régions de france/belgique/suisse-->
  </div>
  <div>
    <label for="ville">Ville :</label>
    <input type="text" id="ville" formControlName="ville" />
    <label for="code_postal">Code Postal :</label>
    <input type="text" id="code_postal" formControlName="code_postal" />
    <label for="addresse">Addresse Postale</label>
    <input type="text" id="addresse" formControlName="addresse" />
  </div>
  <!--ajouter identificateur pays-->
  <div>
    <label for="nom">Telephone :</label>
    <input type="tel" id="telephone" formControlName="telephone" />
  </div>
  <input type="checkbox" id="CGV" formControlName="CGV" />
  <label for="CGV">J'accepte les conditions générales de vente</label>
  <div class="button">
    <!-- ><button type="submit" [routerLink]="['../payment']">Valider les informations personnelles</button>-->
    <button type="submit" [disabled]="!personal_info_form.valid">Valider les informations personnelles</button>
  </div>
</form>
